/*!
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@font-face {
  font-family: "Avenir Next W00";
  src: url("/skins/builder-dark/assets/fonts/avenir-next/Avenir_Next.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
