.text-setting {
    background-color: #FFFFFF;
    padding: 15px;
    .edit-panel {
        .label {
            font-family: AvenirNext;
            font-size: 12px;
            color: #3C4344;
        }
    }
}